.curated-collection-parent {
	width: 100%;

	input:focus {
		outline: none;
	}

	.all-user-memory-center {
		display: flex;
		width: 100%;
		justify-content: center;
		margin-bottom: 600px;

		.all-user-memory-container {
			display: flex;
			width: 930px;
			height: 100%;
			flex-wrap: wrap;
			justify-content: space-between;
			align-self: center;
		}

		.user-memory-img-container {
			width: 175px;
			height: 175px;
			margin-bottom: 7px;
			object-fit: cover;
		}

		.checkbox-container {
			position: absolute;
			background-color: #fff;
			top: 5px;
			left: 5px;
			width: 30px;
			height: 30px;
			border: 1px solid black;
		}

		.checkbox-active {
			background-color: #00e8fc;
		}

		.select-container {
			position: relative;
		}
	}

	.tab-selection-parent {
		display: flex;
		flex-direction: column;
		align-items: center;

		.tab-selection-container {
			width: 90%;
			height: 50px;
			background-color: black;
			display: flex;
			padding-left: 50px;

			.tab-option {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				width: 200px;
				background: black;
				color: white;
				position: relative;
			}

			.tab-option:hover {
				cursor: pointer;
				background-color: rgb(50, 50, 50);
			}

			.tab-option:active {
				background-color: rgb(75, 75, 75);
			}

			.tab-option-selected {
				background-color: #ff0000e6;
				width: 150px;
				height: 5px;
				position: absolute;
				bottom: 0px;
			}
		}

		.tab-details-container {
			width: 90%;
			display: flex;
			justify-content: space-between;
			margin-bottom: 50px;
			margin-top: 20px;

			.tab-info {
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}

		.save-collection-btn {
			height: 50px;
			padding: 0px 55px;
			font-weight: 500;
			font-size: 20px;
			background-color: #0ec3b9;
			color: #fff;
			border: none;
			border-radius: 10px;
		}

		.save-collection-btn:hover {
			cursor: pointer;
			background-color: #0faca4;
		}

		.save-collection-btn:active {
			cursor: pointer;
			background-color: #119992;
		}
	}

	.display-curation-info-parent {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 600px;

		.single-line-input-container {
			margin: 10px 0px;
			width: 850px;
			height: 60px;
			background-color: white;
			padding: 10px;
		}

		.mutli-line-input-container {
			border: 2px solid black;
			margin: 10px 0px;
			width: 850px;
			height: 320px;
			background-color: white;
			padding: 10px;
			resize: none;
		}

		.img-spacing {
			display: flex;
			justify-content: space-between;
			width: 850px;
		}

		.upload-img-container {
			height: 200px;
			width: 200px;
			object-fit: cover;
			border: 1px solid #80808080;
		}

		.upload-error {
			color: red;
		}
	}

	.display-all-curation-parent {
		display: flex;
		justify-content: center;

		.display-all-curation-container {
			width: 90%;
			margin: 50px 0px;
		}

		.header-container {
			display: flex;
			justify-content: flex-end;
			margin-bottom: 25px;
		}

		.create-collection-btn-container {
			height: 50px;
			padding: 0px 55px;
			font-weight: 500;
			font-size: 20px;
			border: none;
			border-radius: 10px;
		}

		.create-collection-btn-selected {
			background-color: #bde4a8;
			color: #000;
		}

		.create-collection-btn-idle {
			background-color: grey;
			color: #fff;
		}

		.colection-container {
			display: flex;
			// height: 200px;
			margin-bottom: 10px;
			border: 1px solid black;
		}

		.colection-container-selected {
			background-color: #c8fac880;
		}

		.colection-container-idle {
			background-color: #fafafa;
		}

		.collection-img-container {
			width: 200px;
			height: 200px;
			// object-fit: contain;
			object-fit: cover;
			// object-fit: fill;
		}

		.collection-info-container {
			margin: 10px;
		}
	}
}
