$light-blue: #e3eef2;
$light-red: #fdd8dd;
$light-green: #f2f6d0;
$light-brown: #e4be9e;
$light-violet: #f5efff;

@import "originSection01";
@import "originSection02";
@import "originSection03";

@import "../home/home";
@import "../header/navbarV1";
@import "../register/register";
@import "../modal/editProfileModalV1";

* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.cursor-point:hover {
	cursor: pointer;
}

.cursor-point:active {
	opacity: 0.8;
}
