.origin-section04 {
	background-color: darken($light-blue, 20%);
	height: 100vh;
}

@media (max-width: 1280px) {
	.origin-section04 {
		background-color: darken($light-red, 20%);
	}
}

@media (max-width: 1024px) {
	.origin-section04 {
		background-color: darken($light-green, 20%);
	}
}

@media (max-width: 768px) {
	.origin-section04 {
		background-color: darken($light-brown, 20%);
	}
}

@media (max-width: 640px) {
	.origin-section04 {
		background-color: darken($light-violet, 20%);
	}
}
