@import "./origin/origin";
@import "./pages/curatedCollectionPage";
@import "./pages/explore";
@import "./pages/home";
@import "./pages/register";
@import "./pages/searchResult";
@import "./pages/uploadMemory";
@import "./pages/user";
@import "./pages/viewMemoryPage";

@import "./pages/curatorDashboard";

@import "./components/modals/reportContent";
@import "./components/modals/reportBug";
@import "./components/modals/editProfileModalV1";
@import "./components/modals/viewMemoryModalV2";
@import "./components/modals/viewMemoryModalV3";

@import "./components/loadingScreens/loadingScreenV1";

@import "./components/inputs/multipleImageV2";

@import "./components/headers/navbarV1";

@import "./components/displayMemories/displayAllMemoryV1";
@import "./components/displayMemories/displayAllMemoryV2";
@import "./components/displayMemories/memoryOfTheDay";

@import "./components/curatorDashboard/curatedCollection";
@import "./components/curatorDashboard/memoryOfTheDay";

* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.cursor-point:hover {
	cursor: pointer;
}

.cursor-point:active {
	opacity: 0.8;
}

.no-select {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-track:hover {
	background: #ebebeb;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

a {
	text-decoration: none;
	color: inherit;
}
