.origin-section01 {
  background-color: #9dc4d2;
  height: 100vh;
}

@media (max-width: 1280px) {
  .origin-section01 {
    background-color: #f87788;
  }
}

@media (max-width: 1024px) {
  .origin-section01 {
    background-color: #dae67a;
  }
}

@media (max-width: 768px) {
  .origin-section01 {
    background-color: #ce894e;
  }
}

@media (max-width: 640px) {
  .origin-section01 {
    background-color: #b589ff;
  }
}

.origin-section02 {
  background-color: #5899b1;
  height: 100vh;
}

@media (max-width: 1280px) {
  .origin-section02 {
    background-color: #f31634;
  }
}

@media (max-width: 1024px) {
  .origin-section02 {
    background-color: #c0d228;
  }
}

@media (max-width: 768px) {
  .origin-section02 {
    background-color: #8e5728;
  }
}

@media (max-width: 640px) {
  .origin-section02 {
    background-color: #7623ff;
  }
}

.origin-section03 {
  background-color: #345f6f;
  height: 100vh;
}

@media (max-width: 1280px) {
  .origin-section03 {
    background-color: #9b081c;
  }
}

@media (max-width: 1024px) {
  .origin-section03 {
    background-color: #727c18;
  }
}

@media (max-width: 768px) {
  .origin-section03 {
    background-color: #3f2611;
  }
}

@media (max-width: 640px) {
  .origin-section03 {
    background-color: #4700bc;
  }
}

.home {
  background-color: #414141;
  width: 100vw;
  height: 100vh;
}

.navbar-container {
  width: 100%;
  height: 90px;
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 150px;
}

.navbar-container .logo {
  width: 400px;
  height: 50px;
  margin: 0px 20px;
  background-color: #c4c4c4;
  text-align: center;
  padding-top: 15px;
}

.navbar-container .search-container {
  background-color: #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.navbar-container .search-icon {
  width: 24px;
  height: 24px;
  margin: 0px 15px;
}

.navbar-container .search-input {
  width: 550px;
  height: 50px;
  background-color: #c4c4c4;
  border: 0px solid black;
  margin: 0px 25px 0px 0px;
}

.navbar-container .home-icon,
.navbar-container .compass-icon,
.navbar-container .unregistered-profile-icon {
  width: 31px;
  height: 31px;
  margin: 0px 00px 0px 20px;
}

.navbar-container .logo:hover,
.navbar-container .home-icon:hover,
.navbar-container .compass-icon:hover,
.navbar-container .unregistered-profile-icon:hover {
  cursor: pointer;
}

.navbar-container .profile-picture {
  width: 41px;
  height: 41px;
  margin: 0px -20px 0px 20px;
  border-radius: 100px;
  background-color: #dedede;
  z-index: 3;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar-container .dropdown {
  float: left;
  overflow: hidden;
}

.navbar-container .dropdown .dropbtn {
  font-size: 16px;
  text-align: center;
  border: none;
  outline: none;
  margin: 0;
  background-color: #dedede;
  padding: 6px 0px 6px 0px;
  min-width: 150px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  white-space: nowrap;
  cursor: default;
}

.navbar-container .dropdown:hover .dropbtn {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 20px;
}

.navbar-container .dropdown-content {
  display: none;
  position: absolute;
  min-width: 150px;
  z-index: 2;
}

.navbar-container .option {
  border-top: 2px solid white;
  background-color: #ddd;
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 8px 8px 15px;
}

.navbar-container .last-option {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navbar-container .dropdown-content img {
  margin-right: 10px;
}

.navbar-container .option:hover {
  background-color: #b4b4b4;
  cursor: pointer;
}

.navbar-container .dropdown:hover .dropdown-content {
  display: block;
}

.navbar-container input:focus,
.navbar-container select:focus,
.navbar-container textarea:focus,
.navbar-container button:focus {
  outline: none;
}

.register {
  background-color: #414141;
  width: 100vw;
  height: 100vh;
}

.right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  width: 1000px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.facebookBtn,
.googleBtn {
  margin: 10px;
}

.facebookBtn:active,
.googleBtn:active {
  opacity: 0.8;
}

.facebookBtn:hover,
.googleBtn:hover,
.policy:hover {
  cursor: pointer;
}

.policy-text {
  color: white;
  font-family: cursive;
  margin-top: 20px;
}

.editProfileModal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.editProfileModal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close-btn {
  position: fixed;
  left: 15px;
  top: 15px;
  width: 55px;
  height: 55px;
}

.top-section-container {
  width: 1020px;
  height: 358px;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-top: 2px solid gray;
  border-right: 2px solid gray;
  border-left: 2px solid gray;
}

.top-section-block-01-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  width: 825px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 10px;
}

.image-input-seperator {
  margin-right: 46px;
}

.block-edit-save-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-margin {
  margin: 9px 0px;
}

.save-btn {
  margin: 9px 0px;
}

.close-btn:hover,
.save-btn:hover {
  cursor: pointer;
}

.close-btn:active,
.save-btn:active {
  opacity: 0.8;
}

.name-input {
  width: 550px;
  height: 60px;
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 10px;
  margin: 9px 0px;
}

.birthday-input::-webkit-input-placeholder,
.location-input::-webkit-input-placeholder,
.name-input::-webkit-input-placeholder {
  color: white;
}

.birthday-input:-ms-input-placeholder,
.location-input:-ms-input-placeholder,
.name-input:-ms-input-placeholder {
  color: white;
}

.birthday-input::-ms-input-placeholder,
.location-input::-ms-input-placeholder,
.name-input::-ms-input-placeholder {
  color: white;
}

.birthday-input::placeholder,
.location-input::placeholder,
.name-input::placeholder {
  color: white;
}

.top-section-block-02-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  width: 825px;
}

.birthday-input {
  width: 310px;
  height: 60px;
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 10px;
  margin: 9px 0px;
}

.location-input {
  width: 500px;
  height: 60px;
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 10px;
  margin: 9px 0px;
}

.btm-section-container {
  width: 1020px;
  height: 180px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.bio-input {
  resize: none;
  width: 825px;
  height: 140px;
  background-color: white;
  padding: 10px;
}

.user-details-parent-container {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-details-top-container {
  background-color: black;
  width: 1335px;
  height: 189px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-details-top-left-container {
  background-color: black;
  width: 1071px;
  height: 189px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 50px 15px 15px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.name-age-loc-container {
  background-color: black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: right;
  color: white;
}

.img-container {
  width: 230px;
  height: 230px;
  background-color: gray;
  z-index: 1;
  border-radius: 100%;
  margin-top: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.user-details-btm-container {
  background-color: white;
  width: 1335px;
  height: 111px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.bio-parent-container {
  background-color: white;
  width: 1071px;
  height: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 15px 50px 15px 15px;
  min-height: 111px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.bio-output-container {
  width: 668px;
  text-align: right;
  font-weight: bold;
}

.view-memory-modal-background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.view-memory-modal-background .view-memory-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-memory-modal-background .close-btn {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  z-index: 1;
}

.view-memory-modal-background .option-btn:hover,
.view-memory-modal-background .back-arrow:hover,
.view-memory-modal-background .next-arrow:hover,
.view-memory-modal-background .close-btn:hover {
  cursor: pointer;
}

.view-memory-modal-background .option-btn:active,
.view-memory-modal-background .back-arrow:active,
.view-memory-modal-background .next-arrow:active,
.view-memory-modal-background .close-btn:active {
  opacity: 0.8;
}

.view-memory-modal-background .image-details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.view-memory-modal-background .image-container {
  width: 800px;
  height: 600px;
  background-color: black;
}

.view-memory-modal-background .image-container .image-record {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.view-memory-modal-background .image-container .multi-image-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.view-memory-modal-background .image-container .back-arrow {
  position: absolute;
  left: 20px;
  top: 283px;
}

.view-memory-modal-background .image-container .next-arrow {
  position: absolute;
  right: 20px;
  top: 283px;
}

.view-memory-modal-background .image-container .dot-container-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-memory-modal-background .image-container .dot-container-bottom {
  position: absolute;
  bottom: 10px;
}

.view-memory-modal-background .image-container .dot-container-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.view-memory-modal-background .image-container .active-dot {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 100%;
  margin: 0px 5px;
}

.view-memory-modal-background .image-container .inactive-dot {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  margin: 0px 5px;
}

.view-memory-modal-background .details-container {
  width: 400px;
  height: 600px;
  background-color: white;
  padding: 20px;
}

.view-memory-modal-background .details-container .option-container {
  position: absolute;
  right: 20px;
  text-align: right;
}

.view-memory-modal-background .details-container .option-btn {
  color: gray;
  padding: 4px;
  text-align: right;
}

.view-memory-modal-background .details-container .showEdit {
  display: block;
  margin-top: 6px;
  width: 50px;
  padding: 5px 0px;
  background-color: #636363;
  text-align: center;
  color: white;
}

.view-memory-modal-background .details-container .hideEdit {
  display: none;
}

.view-memory-modal-background .details-container .picture-name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-memory-modal-background .details-container .display-picture {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  margin-right: 10px;
}

.view-memory-modal-background .details-container .title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.view-memory-modal-background .details-container .border {
  width: 100%;
  height: 1px;
  background-color: black;
}

.view-memory-modal-background .details-container .owner-date-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.view-memory-modal-background .details-container .light-text {
  font-size: 13px;
  font-weight: light;
}

.view-memory-modal-background .details-container .description-text {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 500;
}

.upload-memory {
  background-color: black;
  height: 300vh;
}

.upload-memory .form-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.upload-memory .form-container {
  width: 1200px;
  height: 2000px;
  background-color: white;
  margin: 100px 0px;
  border-radius: 20px;
  border: 1px solid black;
}

.upload-memory .title-padding {
  padding: 75px;
}

.upload-memory .field-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upload-memory .field-name {
  width: 235px;
  text-align: right;
  padding-right: 25px;
  font-weight: 500;
}

.upload-memory .normal-input-container {
  margin: 10px 0px;
  width: 850px;
  height: 60px;
  background-color: white;
  padding: 10px;
}

.upload-memory .description-input-container {
  border: 2px solid black;
  margin: 10px 0px;
  width: 850px;
  height: 320px;
  background-color: white;
  padding: 10px;
  resize: none;
}

.upload-memory .map-container {
  width: 850px;
  height: 375px;
  background-color: grey;
  margin: 10px 235px;
}

.upload-memory .policy-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 235px;
  color: black;
}

.upload-memory .reset-submit-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upload-memory .submit-btn,
.upload-memory .reset-btn {
  margin: 10px;
}

.upload-memory .submit-btn:hover,
.upload-memory .reset-btn:hover {
  cursor: pointer;
}

.upload-memory .submit-btn:active,
.upload-memory .reset-btn:active {
  opacity: 0.8;
}

.image-layout-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 850px;
  margin-left: 235px;
}

.image-container {
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid gray;
}

.error-msg {
  color: red;
  margin-left: 235px;
  margin-top: 10px;
}

.upload-button {
  margin-left: 235px;
}

.upload-button:hover {
  cursor: pointer;
}

.upload-button:active {
  opacity: 0.8;
}

.hide-input {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.cursor-point:hover {
  cursor: pointer;
}

.cursor-point:active {
  opacity: 0.8;
}

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
/*# sourceMappingURL=main.css.map */