@import "./origin/origin";
@import "./home/home";
@import "./header/navbarV1";
@import "./register/register";
@import "./modal/editProfileModalV1";
@import "./user/user";
@import "./modal/viewMemoryModal";
@import "./memory/uploadMemory";
@import "./input/multipleImageV2";
@import "./loading/loadingScreenV1";
@import "./modal/reportContent";
@import "./modal/reportBug";
@import "./memory/displayAllMemoryV1";
@import "./memory/displayAllMemoryV2";
@import "./dashboard/curatorDashboard";

* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.cursor-point:hover {
	cursor: pointer;
}

.cursor-point:active {
	opacity: 0.8;
}

.no-select {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-track:hover {
	background: #ebebeb;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}
