.dashboard-memory-of-the-day {
	display: flex;
	width: 100%;
	flex-direction: column;

	.calendar-container {
		width: 625px;
		margin: 25px;
		height: fit-content;
		padding: 10px;
		border: 1px solid black;
		background-color: #fff;
	}

	.image-container {
		width: 550px;
		height: 250px;
		object-fit: contain;
		background-color: black;
	}

	.title-container {
		width: 550px;
		white-space: nowrap;
		font-size: 24px;
		font-weight: bold;
		text-align: center;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.description-container {
		display: -webkit-box;
		text-align: justify;
		width: 550px;
		-webkit-line-clamp: 8;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	.set-btn {
		margin-top: 25px;
		margin-bottom: 10px;
		height: 50px;
		width: 550px;
		font-weight: 500;
		font-size: 20px;
		background-color: #0ec3b9;
		color: #fff;
		border: none;
		border-radius: 10px;
	}

	.set-btn:hover {
		cursor: pointer;
		background-color: #0faca4;
	}

	.set-btn:active {
		cursor: pointer;
		background-color: #119992;
	}

	.form-container {
		width: 550px;
		height: 500px;
	}

	.calendar-form-container {
		display: flex;
		flex-direction: row;
	}

	.fc-event {
		cursor: pointer;
	}
}
