.home {
	background-color: #fff;

	.center {
		display: flex;
		justify-content: center;
	}

	.section-container {
		width: 1335px;
		height: 300px;
		display: flex;
	}

	.memorya-section01-item01-container {
		width: 735px;
		height: 300px;
		background-color: #c8c8c8;
		padding: 50px;
		text-align: justify;
	}

	.section-border {
		margin-top: 20px;
	}

	.memorya-section01-item02-container {
		width: 600px;
		height: 300px;
		object-fit: cover;
	}

	.memorya-section02-item01-container {
		width: 518px;
		height: 300px;
		background-color: #c8c8c8;
		padding: 50px;
		text-align: justify;
	}

	.memorya-section02-item02-container {
		width: 300px;
		height: 300px;
		object-fit: cover;
	}

	.memorya-section02-item03-container {
		width: 517px;
		height: 300px;
		background-color: #c8c8c8;
		padding: 50px;
		text-align: justify;
	}
}
